*.pyc
*.so
*.log
*.data
data/
*.pkl
.DS_Store/
__pycache__/
*.pt
*.pth
.idea/
copy_memory/
submissions/
Mess/
.ipynb_checkpoint/
*.ipynb
runs/
private_*
*_old/
log/
DEQ-Sequence/LM*/
MDEQ-Vision/output/
